.home {
}

.logoContainer {
    margin: 20px;
}

.logo {
    width: 100%;
}

.info {
    text-align: center;
}

.infoItem {
    display: block;
}

.title {
    font-size: xxx-large;
    margin: 10px;
    color: var(--color-accent)
}

.text .copyright {
    font-family: "Cascadia Mono";
    margin: 10px;
}

.copyright {
    font-size: small;
    font-weight: lighter;
    margin: 10px;
}
