* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text-white);
}

:root {
    --color-text-white: #fff;
    --color-text-black: #000;
    --color-main: #272121;
    --color-secondary-dark: #443737;
    --color-secondary-bright: #950101;
    --color-accent: #FF0000;

    --transition-main: 0.4s;

    --font-size-main: 16px;
}

#root {
    display: flex;
    justify-content: center;
    background-color: var(--color-main);
}


body {
    margin: 0;
    font-family: "Cascadia Code", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


